<div>
    <ul>
        <li>@Html.ActionLink("Movies", "GetMoviesList", "TicketsAdmin")</li>
        <li>@Html.ActionLink("Tariffs", "GetTariffsList", "TicketsAdmin")</li>
        <li>@Html.ActionLink("Halls", "GetHallsList", "TicketsAdmin")</li>
        <li>@Html.ActionLink("TimeSlot", "GetTimeSlotsList", "TicketsAdmin")</li>
    </ul>

</div>