
@using Cinema.Utils
@using Genre = Cinema.Models.Tickets.Genre
@model Genre[]
@{
    var genres = EnumUtil.GetValues<Genre>();
}

<div class="form-group">
    <label>Genre</label>
    <select multiple name="Genres" id="Genres" class="form-control">
        @foreach (var genre in genres)
        {
            <option value="@genre" @(Model.Contains(genre) ? "selected" : string.Empty)>@genre</option>
        }
    </select>
</div>

