@model Cinema.Models.Tickets.Hall

@using (Html.BeginForm("EditHall", "TicketsAdmin"))
{
    @Html.HiddenFor(x => x.Id)
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
    </div>

    <input type="submit" value="Save changes" />
}
